.footer {
  background: var(--g-color-black);
  padding-top: 200px;
  @include pc {
    padding-top: 200rem;
  }
  @include sp {
    padding-top: 80rem;
  }
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 160px;
    border-bottom: 1px solid var(--g-color-border);
    @include pc {
      padding-bottom: 160rem;
    }
    @include sp {
      flex-direction: column;
      padding-bottom: 80rem;
    }
    &__elem {
      position: relative;
      border-radius: 16px;
      overflow: hidden;
      @include pc {
        border-radius: 16rem;
      }
      @include tb {
        width: 49%;
      }
      @include sp {
        width: 100%;
      }
      &:not(:last-child) {
        @include sp {
          margin-bottom: 24rem;
        }
      }
      &:nth-child(1) {
        &::after {
          content: '';
          transition: all 0.3s ease-in-out;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 100%;
          height: 100%;
          background: url(../img/footer-contact.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
      &:nth-child(2) {
        &::after {
          content: '';
          transition: all 0.3s ease-in-out;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 100%;
          height: 100%;
          background: url(../img/footer-entry.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
      a {
        cursor: pointer;
        z-index: 2;
        position: relative;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 68px 46px;
        width: 633px;
        @include pc {
          padding: 68rem 46rem;
          width: 633rem;
        }
        @include tb {
          padding: 68rem 46rem;
          width: 100%;
        }
        @include sp {
          padding: 30rem 20rem;
          width: 100%;
        }
        &::after {
          content: '';
          background: url(../img/footer_arrow.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 62px;
          height: 62px;
          position: absolute;
          top: 50%;
          right: 43px;
          transform: translateY(-50%);
          @include pc {
            width: 62rem;
            height: 62rem;
            right: 43rem;
          }
          @include tb {
            width: 80rem;
            height: 80rem;
            right: 50rem;
          }
          @include sp {
            width: 28rem;
            height: 28rem;
            right: 20rem;
          }
        }
        p {
          color: var(--g-color-white);
          font-size: 24px;
          font-weight: 400;
          letter-spacing: 0.1em;
          margin-bottom: 28px;
          @include pc {
            margin-bottom: 28rem;
            font-size: 24rem;
          }
          @include tb {
            margin-bottom: 28rem;
            font-size: 38rem;
          }
          @include sp {
            margin-bottom: 16rem;
            font-size: 16rem;
          }
        }
        span {
          color: var(--g-color-white);
          font-size: 12px;
          font-weight: 500;
          line-height: 1.7;
          letter-spacing: 0.1em;
          @include pc {
            font-size: 12rem;
          }
          @include tb {
            font-size: 20rem;
          }
          @include sp {
            font-size: 10rem;
          }
        }
      }
      &:hover {
        &::after {
          width: 120%;
          height: 120%;
        }
      }
    }
  }
  &-main {
    padding: 100px 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include pc {
      padding: 100rem 0 120rem;
    }
    @include sp {
      padding: 54rem 20rem;
    }
    &-left {
      &-logo {
        img {
          width: 228px;
          @include pc {
            width: 228rem;
          }
          @include sp {
            width: 111rem;
          }
        }
      }
    }
    &-right {
      &-menu {
        @include sp {
          display: none;
        }
        & > p {
          font-size: 16px;
          color: var(--g-color-white);
          margin-bottom: 15px;
          font-weight: 500;
          @include pc {
            font-size: 16rem;
            margin-bottom: 15rem;
          }
          @include tb {
            font-size: 30rem;
            margin-bottom: 15rem;
          }
        }
        ul {
          margin-bottom: 47px;
          display: flex;
          align-items: center;
          justify-content: left;
          @include pc {
            margin-bottom: 47rem;
          }
          li {
            &:not(:last-child) {
              margin-right: 54px;
              @include pc {
                margin-right: 54rem;
              }
              @include tb {
                margin-right: 40rem;
              }
            }
            a {
              font-size: 16px;
              font-weight: 500;
              color: var(--g-color-white);
              position: relative;
              @include pc {
                font-size: 16rem;
              }
              @include tb {
                font-size: 24rem;
              }
              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                width: 0;
                background: var(--g-color-white);
                transition: all 0.3s ease-in-out;
              }
              &:hover {
                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      &-company {
        p {
          font-size: 12px;
          letter-spacing: 0.1em;
          color: var(--g-color-white);
          font-family: $font-noto;
          line-height: 1.7;
          @include pc {
            font-size: 12rem;
          }
          @include tb {
            font-size: 20rem;
          }
          @include sp {
            font-size: 10rem;
          }
        }
      }
    }
  }
  &-sp-menu {
    display: none;
    @include sp {
      display: block;
    }
    ul {
      li {
        border-top: 1px solid #575757;
        &:last-child {
          border-bottom: 1px solid #575757;
        }
        a {
          @include sp {
            font-size: 16rem;
            padding: 15rem 20rem;
            font-weight: 400;
            color: var(--g-color-white);
            letter-spacing: 0.1em;
            line-height: 1;
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
  &-bottom {
    border-top: 1px solid var(--g-color-border);
    @include sp {
      border-top: unset;
    }
    .container {
      padding: 41px 0 46px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include pc {
        padding: 41rem 0 46rem;
      }
      @include sp {
        flex-direction: column;
        padding: 25rem 0 40rem;
      }
    }
    &-privacy {
      a {
        font-size: 16px;
        font-weight: 400;
        color: var(--g-color-white);
        position: relative;
        display: block;
        @include pc {
          font-size: 16rem;
        }
        @include tb {
          font-size: 24rem;
        }
        @include sp {
          font-size: 12rem;
          text-align: center;
          margin-bottom: 14rem;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          width: 0;
          background: var(--g-color-white);
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    &-copyright {
      p {
        font-size: 16px;
        font-weight: 400;
        color: var(--g-color-white);
        @include pc {
          font-size: 16rem;
        }
        @include tb {
          font-size: 24rem;
        }
        @include sp {
          font-size: 10rem;
          text-align: center;
        }
      }
    }
  }
}